body{
    margin: 0;
}
.bckg_top {
    background-color: rgb(179, 242, 242);
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    column-gap: 8px;
    border-bottom: 1px solid;
}
.images{
    margin: 18px 6px 18px 3px;
}
.facebook{
    margin-right: 5px;
}
.purple_zone {
    background-color: rgb(153, 130, 244);
    width: 100%;
}